@import url('https://fonts.googleapis.com/css?family=Nobile:400,500|Open+Sans&display=swap');

*{
  margin: 0;
}

:root{
  --first-color: #f7f7f7;
  --second-color: #eeeeee;
  --third-color: #474A56;
  --fourth-color: #929aab;
  --withForm: calc(25em + 1rem);
  --borderRadius: 0.5rem
}

body{
  font-family: 'Open Sans', sans-serif;
  line-height: 1.45;
  font-weight: 400;
}

/* cabecera -----------------------------------------------------------*/
header{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--first-color);
  padding-top: 1em;
}

a, .text-logo {
  margin-bottom: 16px;
  line-height: 0.5;
  font-size: 0.9em;
  text-decoration: none;
}

form{
  margin-left: 1em;
}

#search {
  width: var(--withForm);
  height: calc(var(--withForm) - 19.7rem);
  color: #090808;
  border: 1px solid #dfe1e5;
  border-radius: var(--borderRadius);
  margin: 0 auto;
}

#submit {
  background-color: #fff;
  box-shadow: 0 1px 6px rgba(32,33,36,.28);
  border-color: rgba(223,225,229,0);
  height: calc(var(--withForm) - 19.7rem);
  border-radius: var(--borderRadius);
}

hr {
  border: 1px solid var(--fourth-color);
}

/*contenedor main----------------------------------------------------------------*/

#root{
  display: flex;
  gap: 1.5em;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  background-color: var(--second-color);
  padding:10px 10px ;
}

/* Tarjeta -----------------------------------------------------------------------*/

.box {
  width: 20%;
  flex: 0 0 18em;
  border: 1px solid var(--fourth-color);
  border-radius: var(--borderRadius);
  background-color: white;
}

[class="avatar"]{
  width: 100%;
  border-radius: var(--borderRadius);
}

p{
  background: transparent;
  border-radius: var(--borderRadius);
}

/* footer -------------------------------------------------------*/
footer{
  width: 100vw;
  height: 100vh;
  background-color: var(--third-color);
  color:var(--fourth-color)
}

@media only screen and (max-width: 600px){

  .box{
    width: 90%;
  }

  header{
    display: block;
    text-align: center;
  }

  .logo {
    display: none;
  }

  .text-logo{
    font-size: 1.5em;
    font-weight: 600;
  }

  form{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
